{% extends "base.html" %}
{%block title%} Admin Panel {%endblock%}
{%block content%}
<div class="container">
    <br />
    <br/>
    <h1 class="text-center mainheading">Admin Panel</h1>

    <div class="tablet p-2" style="border-color:#3a4b40 !important;">
       <H1>Manage Roles</H1>
       

        <div>
        <select class="form-select" aria-label="Default select example">
            <option selected>Software Engineer</option>
            <option value="2">Quality Engineer</option>
            <option value="3">Database Analysis</option>
          </select>
        <br/>


        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Digital Dev Tools Share Space</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked="false">
          <label class="form-check-label" for="flexSwitchCheckChecked">Development Environment 1</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" >
          <label class="form-check-label" for="flexSwitchCheckDefault">Development Environment 2</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked >
          <label class="form-check-label" for="flexSwitchCheckDefault">Test Environment 1</label>
        </div>

        </div>  
        
        </div>
        </div>
      </div>
    </div>
</div>
{%endblock%}