{%extends "base.html"%}
{%block title%} User Profile {%endblock%}
{%block content%}
<br/>
<br/>
<h1 class="text-center mainheading">Your Profile</h1>
<br/>
<br/>
<div class="d-flex justify-content-center">
    
    <div class="tablet p-2" style="border-color:#3a4b40 !important;">
        <div class="progress-container">
            <label for="progress"><b>Onboarding Progress:</b></label>
            <div class="progress-bar">
                <div class="progress" id="progress" style="width: 50%;"></div>
            </div>
        </div>
        <br/>
        <div class ="container">
        <div class="row">
            <div class="col">
        <p><b>Name:</b>  ALi Ahmed</p>
            </div>
            <div class="col">
                <p><b>Role: </b> Industrial Placement Software Engineer</p>
                    </div>
        </div>
        <br/>
        <div class="row">
            <div class="col">
        <p><b>Line Manager: </b>Mike Daniels</p>
            </div>
            <div class="col">
                <p><b>Onboarding Deadline: </b>30/06/2024 </p>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col">
        <p><b>Team:</b>  Digital CyberSecurity</p>
            </div>
            <div class="col">
                <p><b>Platform: </b> Digital Frameworksr</p>
                    </div>
        </div>
        </div>
      </div>
    </div>
</div>
{%endblock%}